/**
 * Theme Name:  A-Level
 * Theme URI:   https://i-wp-dev.com/
 * Author:      AlexL, On1
 * Author URI:  https://i-wp-dev.com/
 * Description: Wordpress themes for A-Level courses.
 * License:     GNU General Public License v2 or later
 * License URI: http://www.gnu.org/licenses/gpl-2.0.html
 * Tags:        A-Level, courses, iwpdev, courses themes
 * Text Domain: alevel
 * Version:     1.11.3
 */
header .bottom-head .logo {
	margin-right: 20px;
}

.blog-item h3.title,
.medea-item h3.title,
.event-item h3.title,
.partners .partner > p,
.events-block .desc p,
.teacher p,
.courses p,
.reviews-items p,
.medea-item p,
.blog-item p,
.accordion p {
	-moz-box-orient: vertical;
	-webkit-box-orient: vertical;
	box-orient: vertical;
}

.sr-only {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

.hidden {
	display: none;
}

.dont-net {
	--var-gradient: linear-gradient(86.07deg, #3E5151 0%, #DECBA4 100%);
}

.basics-programming {
	--var-gradient: linear-gradient(80.72deg, #97ACD6 0%, #133985 100%);
}

.java {
	--var-gradient: linear-gradient(267.95deg, #B37AEC 0%, #3C2F6D 100%);
}

.front-end {
	--var-gradient: linear-gradient(97.71deg, #4BD2FD -16.21%, #406BD9 77.81%);
}

.python {
	--var-gradient: linear-gradient(82.27deg, #C5B2CB 0%, #298BB2 100%);
}

.project-management {
	--var-gradient: linear-gradient(262.27deg, #5B6776 0%, #FC7B74 100%);
}

.it-recruiting {
	--var-gradient: linear-gradient(262.27deg, #53B5C7 0%, #358859 100%);
}

.web-design {
	--var-gradient: linear-gradient(82.27deg, #001F65 0%, #23CBC3 100%);
}

.qa-manual {
	--var-gradient: linear-gradient(82.27deg, #58527C 0%, #FBC851 100%);
}

.default {
	--var-gradient: linear-gradient(97.71deg, #4BD2FD -16.21%, #406BD9 77.81%);
}

.yellow-green {
	--var-gradient: linear-gradient(82.27deg, #E1D45B 0%, #0B3D25 100%);
}

.orange {
	--var-gradient: radial-gradient(193.23% 436.88% at 75.5% 179.02%, #FFB800 0%, #FF9878 100%);
}

.blue {
	--var-gradient: linear-gradient(97.71deg, #4BD2FD -16.21%, #406BD9 77.81%);
}

.lilac {
	--var-gradient: linear-gradient(82.27deg, #9D82C9 0%, #F5C2E5 100%);
}

.violet {
	--var-gradient: radial-gradient(216.01% 540.81% at 22.12% 38.33%, #480EC1 0%, #9912C9 100%);
}

.pink-blue {
	--var-gradient: linear-gradient(262.27deg, #2EBDE3 0%, #EB5563 100%);
}

.green {
	--var-gradient: linear-gradient(82.27deg, #1E3F37 0%, #9AEECF 100%);
}

.tridoustroistvo {
	--var-gradient: linear-gradient(82.27deg, #E16F5B 0%, #360B3D 100%);
}

.yellow-blue {
	--var-gradient: linear-gradient(82.27deg, #F5CD72 0%, #2C7CD8 100%);
}

.hr_online {
	--var-gradient: linear-gradient(262.27deg, #EAA0FF 0%, #18CAB5 100%);
}

.business_analyst {
	--var-gradient: linear-gradient(262.27deg, #EC576D 0%, #6579F4 100%);
}

.sales_manager {
	--var-gradient: linear-gradient(262.27deg, #FCCD06 0%, #70970D 100%);
}

.php {
	--var-gradient: linear-gradient(94.56deg, #408BDD 0%, #E674AA 100%);
}

.graphic_design {
	--var-gradient: linear-gradient(82.27deg, #2C4683 0%, #499D48 100%);
}

.qa-automation {
	--var-gradient: linear-gradient(82.27deg, #362F60 0%, #FB8E51 100%);
}

.ruby {
	--var-gradient: linear-gradient(94.56deg, #DD7940 0%, #747FE6 100%);
}

.golang {
	--var-gradient: linear-gradient(94.56deg, #00AFC8 0%, #6ECCC6 100%);
}

.full-price {
	display: none;
}

header .bottom-head .logo {
	margin-right: 20px;
}

body:not(.home) header .top-head .logo img.white-logo {
	width: auto !important;
}

@media only screen and (max-width: 767px) {
	.banner-head .dfr p {
		font-size: 12px !important;
	}
}
